<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>190140718539-kadivrvcui9pshn4i4b2vgplmech1att.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190140718539-kadivrvcui9pshn4i4b2vgplmech1att</string>
	<key>API_KEY</key>
	<string>AIzaSyC415BkjpPEN2iCcffIaOaCuX8AT_aWGdE</string>
	<key>GCM_SENDER_ID</key>
	<string>190140718539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Constraints.Mayday</string>
	<key>PROJECT_ID</key>
	<string>mayday-36476</string>
	<key>STORAGE_BUCKET</key>
	<string>mayday-36476.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190140718539:ios:e2af7a5fb61e2d88</string>
	<key>DATABASE_URL</key>
	<string>https://mayday-36476.firebaseio.com</string>
</dict>
</plist>